<div class="container">
    <div class="row">
        <div class=" col-md-12">
            <div class="jumbotron">
                <h1 class="text-center" style="word-wrap: break-word;">Zarejestrowano Pomyślnie!</h1>
                <h4 class="text-center" style="word-wrap: break-word;">Na Twojego maila został wysłany link aktywacyjny</h4>
                <p class="text-center"><a class="btn btn-primary btn-lg"
                                          style="white-space: normal;" role="button"
                                          [routerLink]="['/']">Strona Główna</a></p>
            </div>
        </div>
    </div>
</div>




