<div class="well">
    <div class="row">
        <div class="col-md-12">
            <table style="width: 100%">
                <tr>
                    <th style="font-size: 1.8em; color: black; word-wrap: break-word;"
                        class="text-left">{{ event.title }}</th>
                    <th style="font-size: 1.0em; color: black" class="text-right">{{ eventType }}</th>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <ul class="list-unstyled">
        <li>Stworzony przez: {{event.ownerUsername}}</li>
        <li>Nazwa: {{event.dish_name}}</li>
        <li>Data: {{event.date | date | polishDate}} {{event.time | shorterTime}}</li>
        <li>Rodzaj: {{event.dish_kind}}</li>
        <li>Liczba osób: {{event.people_quantity}}</li>
        <li>Wolne miejsca: {{event.people_remaining}}</li>
    </ul>
    <!--TODO: co tu jeszcze dodac?-->
    <!--after the comma pass an event id to route-->
    <button class="btn btn-primary" [routerLink]="['/events',event.id]">Zobacz</button>
</div>