<div class="container-fluid">
    <div class="content-heading container col-md-12">
        <p class="h1">Witamy w kuchni po sąsiedzku!</p>
        <p *ngIf="token" > token: {{token}}</p> <!--co to?-->
        <!--<div class="col-md-offset-4 col-md-4">
            <img src="/img/logo_big.png" class="img-responsive" alt="Responsive image">
        </div>-->
            <advanced-search>Loading...</advanced-search>
        <div class="main-page-carousel">
            <carousel [interval]="6000">
                <slide *ngFor="let event of topEvents">
                    <div class = "main-page-events">
                        <event-detail [event]="event">Ładowanie...</event-detail>
                    </div>
                </slide>
            </carousel>
        </div>

    </div>
</div>

