<div class="row">
    <div class="well-searchbox">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-4 control-label">Nazwa</label>
                <div class="col-md-8">
                    <input  #title="ngModel"
                            class="form-control"
                            name="criteria.title"
                            id="title"
                            placeholder="Nazwa wydarzenia"
                            [(ngModel)]="criteria.title"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Adres</label>
                <div class="col-md-8">
                    <input  #address="ngModel"
                            class="form-control"
                            name="criteria.address"
                            id="address"
                            placeholder="Adress"
                            [(ngModel)]="criteria.address">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Typ</label>
                <div class="col-md-8">
                    <select #type = "ngModel"
                            class="form-control"
                            placeholder="Typ wydarzenia"
                            name = "criteria.typeEvent"
                            id="typeEvent"
                            [(ngModel)]="criteria.typeEvent">
                        <option value="uczta dla innych">uczta dla innych</option>
                        <option value="wspólne gotowanie">wspólne gotowanie</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Data</label>
                <div class="col-md-8">
                        <my-date-picker name="mydate" [options]="datePicker.myDatePickerOptions"
                                        #date="ngModel"
                                        [(ngModel)]="objectWithDate.date"
                                        name="criteria.date"
                                        (dateChanged)="onDateChanged($event)"
                                        [selDate]="datePicker.selectedDateNormal"
                                        [defaultMonth]="datePicker.defaultYearAndMonth"
                                        locale="pl"
                                        placeholder="rrrr-mm-dd">
                        </my-date-picker>
                </div>
            </div>
            <button (click)="searchEventByCriteria(criteria, 0);" type="submit" class="btn btn-kitchen-primary btn-sm">Wyszukaj</button>
        </form>
    </div>
</div>
<div class="row">
    <div *ngFor="let event of events">
        <div class="col-md-6 col-sm-12">
            <event-detail [event]="event">Ładowanie...</event-detail>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12 text-center">
        <ul class="pagination">
            <li>
                <a class="btn" aria-label="Poprzednia" (click)="getPreviousPage()">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <ng-container *ngFor="let page of numbersOfPage">
                <li [ngClass]="{'active': page==currentPage}">
                    <a class="btn" (click)="getNewPages(page)">{{page+1}}</a>
                </li>
            </ng-container>
            <li>
                <a class="btn" aria-label="Nastepna" (click)="getNextPage()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>