
<section>

    <div class="container" style="margin-top: 30px;">

        <h3>Panel Admina</h3>

      <div class="container2">

          <div class="kolumna">
              <div class="tresc_karty">
                  <h4>W tym panelu możesz:
                      <p> - wyszukać użytkownika </p>
                      <p> - wyszukać wydarzenie </p>
                      <p> - usunąć użytkownika/wydarzenie</p>
                      <p> - zbanować użytkownika</p>
                  </h4>
              </div>
              <div>
                  <a [routerLink]="['/admin/panelUE']" class="btn btn-default">Przejdź</a>
              </div>
          </div>
          <div class="kolumna">
              <div class="tresc_karty">
              <h3>W tym panelu możesz zobaczyć bieżące logi oraz wyszukać logi danego użytkownika</h3>
              </div>
              <div>
                  <a [routerLink]="['']" class="btn btn-default">Przejdź</a>
              </div>
          </div>

        <div id="clear"></div>
      </div>
    </div><!--container close-->


</section><!--section close-->



