<section>

    <div class="container" style="margin-top: 30px;">
        <div class="header-admin">
            <h2>Panel Admina</h2>
        </div>
        <br/>
        <div class="w3-row-padding">
            <div class="w3-col s6">
                <div class="w3-card-4" style="width:60%">
                    <header class="w3-container w3-light-grey">
                        <h3>Zarządzanie</h3>
                    </header>
                    <div class="w3-container">
                        <br/>
                        <p>W tym panelu możesz:</p>
                        <hr>
                        <p> - wyszukać użytkownika </p>
                        <p> - wyszukać wydarzenie </p>
                        <p> - usunąć użytkownika/wydarzenie</p>
                        <p> - zbanować użytkownika</p><br>
                    </div>
                    <button [routerLink]="['/admin/panelUE']" class="w3-button w3-block w3-dark-grey">Przejdź</button>
                </div>
            </div>
            <div class="w3-col s6">
                <div class="w3-card-4" style="width:60%">
                    <header class="w3-container w3-light-grey">
                        <h3>Logi</h3>
                    </header>
                    <div class="w3-container">
                        <br/>
                        <p>W BUDOWIE</p>
                        <hr>
                        <br/>
                        <br/>
                        Panel umożliwi sprawdzenie logów użytkowników
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                    <button class="w3-button w3-block w3-dark-grey">Przejdź</button>
                </div>
            </div>
        </div>

    </div><!--container close-->


</section><!--section close-->



