
<section>
	<div *ngIf=isDataAvailable>
		<div class="container" style="margin-top: 30px;">
			<div class="profile-head">
				<div class="col-md- col-sm-4 col-xs-12">
					<img src="/img/profile.jpg" class="img-responsive" />
				</div> <!--col-md-4 col-sm-4 col-xs-12 close-->


				<div class="col-md-5 col-sm-5 col-xs-12">
					<h5>{{ userProfile.name }} {{ userProfile.surname }}</h5>
					<p>{{ userProfile.userAccountDTO.country }}</p>
					<ul>
						<li><span class="fa fa-briefcase"></span> -</li>

						<li *ngIf="(userProfile.street || userProfile.postCode || userProfile.city) !== ''">
							<span class="fa fa-home"></span> {{ userProfile.street }},{{ userProfile.postCode }} {{ userProfile.city }}</li>
						<li *ngIf="(userProfile.street && userProfile.postCode && userProfile.city) === ''">
							<span class="fa fa-home"></span> - </li>

						<li *ngIf="(userProfile.phoneNumber) !== ''"><span class="fa fa-phone"></span> <a href="#" title="call">{{ userProfile.phoneNumber }}</a></li>
						<li *ngIf="(userProfile.phoneNumber) === ''"><span class="fa fa-phone"></span> - </li>

						<li *ngIf="(userProfile.userAccountDTO.email) !== ''"><span class="fa fa-envelope"></span>{{ userProfile.userAccountDTO.email }}</li>
						<li *ngIf="(userProfile.userAccountDTO.email) === ''"><span class="fa fa-envelope"></span> - </li>
						<br>
						<li>
							<!--<div>Wypełnienie
                            <p [style.width]="precentageFilled+5+'%'" [attr.data-value]="precentageFilled" class="progresText"> </p>
                            <div id="progressBar"><progress max="100" [value]="precentageFilled" class="completion"></progress></div>
                            </div>-->
							<div id="progress" class="graph"><div id="bar" [style.width]="precentageFilled+5+'%'"><p>{{precentageFilled}}% wypełnienia</p></div></div>
						</li>
					</ul>

				</div><!--col-md-8 col-sm-8 col-xs-12 close-->

			</div> <!--profile-head close-->
		</div> <!--container close-->


		<div id="sticky" class="container">

			<tabset class="mainTabs">
				<tab title="Profil">

					<div class="container">

						<!--col-sm-12 close-->
						<br clear="all" />
						<div class="row">
							<div class="col-md-12">
								<h4 class="pro-title">Twój profil:</h4>
								<hr>
							</div>
							<!--col-md-12 close-->


							<div class="col-md-6">

								<div class="table-responsive responsiv-table">
									<table class="table bio-table">
										<tbody>
										<tr>
											<td>Imię</td>
											<td *ngIf="(userProfile.name) !== ''">{{ userProfile.name }}</td>
											<td *ngIf="(userProfile.name) === ''"> - </td>
										</tr>
										<tr>
											<td>Nazwisko</td>
											<td *ngIf="(userProfile.surname) !== ''">{{ userProfile.surname }}</td>
											<td *ngIf="(userProfile.surname) === ''"> - </td>
										</tr>
										<tr>
											<td>Data urodzenia</td>
											<td  *ngIf="(userProfile.birthDate) !== ''">{{userProfile.birthDate | date: 'dd-MM-yyyy'}}</td>
											<td *ngIf="(userProfile.birthDate) === null"> - </td>
										</tr>
										<tr>
											<td>Kraj</td>
											<td  *ngIf="(userProfile.userAccountDTO.country) !== ''">{{ userProfile.userAccountDTO.country }}</td>
											<td *ngIf="(userProfile.userAccountDTO.country) === ''"> - </td>
										</tr>
										</tbody>
									</table>
								</div>
								<!--table-responsive close-->
							</div>
							<!--col-md-6 close-->

							<div class="col-md-6">

								<div class="table-responsive responsiv-table">
									<table class="table bio-table">
										<tbody>
										<tr>
											<td>Email</td>
											<td *ngIf="(userProfile.userAccountDTO.email) !== ''">{{ userProfile.userAccountDTO.email }}</td>
											<td *ngIf="(userProfile.userAccountDTO.email) === ''"> - </td>
										</tr>
										<tr>
											<td>Tel</td>
											<td *ngIf="(userProfile.phoneNumber) !== ''">{{ userProfile.phoneNumber }}</td>
											<td *ngIf="(userProfile.phoneNumber) === ''"> - </td>
										</tr>
										<tr>
											<td>Preferowane kuchnie</td>
											<td *ngIf="userProfile.preferredCuisine?.length > 0">
												<button class ="cuisine" *ngFor="let prefered of preferedCuisineService.preferedCuisines">{{ prefered.name }}</button>
											</td>
											<td *ngIf="(userProfile.preferredCuisine | json) === '[]'"> - </td>
										</tr>
										<tr>
											<td>Zweryfikowany</td>
											<td *ngIf="userProfile.userAccountDTO.isVerified"><img src="/img/ok.png" width="40" heigth="40" class="img-responsive" /></td>
											<td *ngIf="!userProfile.userAccountDTO.isVerified"><img src="/img/not.png" width="40" heigth="40" class="img-responsive" /></td>
										</tr>

										</tbody>
									</table>
								</div>
								<!--table-responsive close-->
							</div>
							<!--col-md-6 close-->

						</div>
						<!--row close-->
					</div>
					<!--container close-->
				</tab>

				<tab title="Edytuj profil">

					<div class="container form-main">

						<div class="row">
							<form class="form-horizontal main_form text-left" action=" "
								  method="post" id="contact_form" #form="ngForm" validate>
								<tabset>
									<tab title="Opcje logowania" [classTab]="userName.invalid || email.invalid ? 'invalidTab' : ''"> <!--[title]="userName.invalid || email.invalid ? 'Opcje logowania X' : 'Opcje logowania'"-->
										<div class="form-group col-md-12"
											 [class.has-error]="userName.invalid && userName.touched">
											<label class="col-md-10 control-label" for="idUsername">Login</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.userAccountDTO.username"
														   placeholder="Login"
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.userAccountDTO.username"
														   #userName="ngModel"
														   pattern="....+"
														   maxlength="25"
														   required
														   id="idUsername"
														   title="Twój login, za pomocą którego się logujesz">
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="userName.invalid && userName.touched"
														 class="alert alert-danger" role="alert">Login musi się
														składać z 4-25 znaków.</div>
												</div>
											</div>

										</div>

										<!-- Text input-->

										<div class="form-group col-md-12">
											<label class="col-md-10 control-label">E-mail</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.userAccountDTO.email" placeholder="Email"
														   placeholder="email@gmail.com"
														   class="form-control"
														   #email="ngModel"
														   type="email"
														   maxlength="45"
														   required
														   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
														   [(ngModel)]="userProfile.userAccountDTO.email"
														   title="Twój adres e-mail">
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="email.invalid && email.touched"
														 class="alert alert-danger" role="alert">Ten E-mail jest niepoprawny.
													</div>
												</div>
											</div>
										</div>
										<button class="btn btn-warning changePassword-submit-button" data-toggle="modal" data-target="#myModal">Zmień hasło</button>
									</tab>
									<tab title="Dane osobowe" [classTab]="name.invalid || surname.invalid || street.invalid || streetNumber.invalid ||
											flatNumber.invalid || postCode.invalid || city.invalid || country.invalid ||
											phoneNumber.invalid ? 'invalidTab' : ''">
										<!-- Text input-->
										<div class="form-group col-md-12"
											 [class.has-error]="name.invalid && name.touched">
											<label class="col-md-10 control-label" >Imię</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.name"
														   placeholder="Imię"
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.name"
														   #name="ngModel"
														   pattern="[A-Za-ząćęłńóśźżĄŚĆĘŁŹŻÓ]{3,25}"
														   title="Imię"
													>
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="name.invalid && name.touched"
														 class="alert alert-danger" role="alert">
														Imię musi składać się z 3-25 liter.
													</div>
												</div>
											</div>
										</div>


										<!-- Text input-->

										<div class="form-group col-md-12"
											 [class.has-error]="surname.invalid && surname.touched">
											<label class="col-md-10 control-label" >Nazwisko</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.surname"
														   placeholder="Nazwisko"
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.surname"
														   #surname="ngModel"
														   pattern="[A-Za-ząćęłńóśźżĄŚĆĘŁŹŻÓ]{3,25}"
														   title="Nazwisko"
													>
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="surname.invalid && surname.touched"
														 class="alert alert-danger" role="alert">
														Nazwisko musi składać się z 3-25 liter.
													</div>
												</div>
											</div>
										</div>


										<!-- Text input-->

										<div class="form-group col-md-12"
											 [class.has-error]="street.invalid && street.touched">
											<label class="col-md-10 control-label" >Ulica/Miejscowość</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.street"
														   placeholder="Ulica/Miejscowość"
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.street"
														   #street="ngModel"
														   pattern="[A-Za-ząćęłńóśźżĄŚĆĘŁŹŻÓ][a-zA-ZząćęłńóśźżĄŚĆĘŁŹŻÓ. ]{3,44}"
														   title="Nazwa ulicy lub miejscowości"
													>
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="street.invalid && street.touched"
														 class="alert alert-danger" role="alert">
														Nazwa ulicy musi składać się z 3-45 liter.
													</div>
												</div>
											</div>
										</div>


										<!-- Text input-->

										<div class="form-group col-md-12"
											 [class.has-error]="streetNumber.invalid && streetNumber.touched">
											<label class="col-md-10 control-label" >Numer bloku/domu</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.streetNumber"
														   placeholder="Numer bloku/domu"
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.streetNumber"
														   #streetNumber="ngModel"
														   pattern="[1-9][0-9]{0,3}[A-Z]{0,1}"
														   maxlength="4"
														   title="Numer bloku lub domu"
													>
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="streetNumber.invalid && streetNumber.touched"
														 class="alert alert-danger" role="alert">
														Numer bloku lub domu musi składać się maksymalnie z 3 cyfr oraz jednej dużej litery na końcu.
													</div>
												</div>
											</div>
										</div>

										<!-- Text input-->

										<div class="form-group col-md-12"
											 [class.has-error]="flatNumber.invalid && flatNumber.touched">
											<label class="col-md-10 control-label" >Numer mieszkania</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.flatNumber"
														   placeholder="Numer mieszkania"
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.flatNumber"
														   #flatNumber="ngModel"
														   pattern="[1-9][0-9]{0,3}"
														   maxlength="3"
														   title="Numer mieszkania jeśli mieszkasz w bloku"
													>
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="flatNumber.invalid && flatNumber.touched"
														 class="alert alert-danger" role="alert">
														Numer mieszkania musi składać się wyłącznie z cyfr (>0).
													</div>
												</div>
											</div>
										</div>

										<!-- Text input-->

										<div class="form-group col-md-12"
											 [class.has-error]="postCode.invalid && postCode.touched">
											<label class="col-md-10 control-label" >Kod pocztowy</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.postCode"
														   placeholder="99-999"
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.postCode"
														   #postCode="ngModel"
														   pattern="[0-9]{2}-[0-9]{3}"
														   maxlength="6"
														   title="Kod pocztowy"
													>
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="postCode.invalid && postCode.touched"
														 class="alert alert-danger" role="alert">
														Kod pocztowy musi składać się z 5 cyfr w formacie 99-999.
													</div>
												</div>
											</div>
										</div>

										<!-- Text input-->

										<div class="form-group col-md-12"
											 [class.has-error]="city.invalid && city.touched">
											<label class="col-md-10 control-label" >Miasto</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.city"
														   placeholder="np. Lublin"
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.city"
														   #city="ngModel"
														   pattern="[A-Za-ząćęłńóśźżĄŚĆĘŁŹŻÓ]{3,45}"
														   title="Miasto"
													>
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="city.invalid && city.touched"
														 class="alert alert-danger" role="alert">
														Nazwa miasta musi składać się z 3-45 liter.
													</div>
												</div>
											</div>
										</div>

										<!-- Text input-->
										<div class="form-group col-md-12"
											 [class.has-error]="country.invalid && country.touched">
											<label class="col-md-10 control-label">Kraj</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.userAccountDTO.country"
														   placeholder="np. Polska"
														   #country="ngModel"
														   type="text"
														   pattern="[A-Za-ząćęłńóśźżĄŚĆĘŁŹŻÓ ]{3,45}"
														   required
														   class="form-control"
														   name="userProfile.userAccountDTO.country"
														   [(ngModel)]="userProfile.userAccountDTO.country"
														   title="Kraj">
													<div *ngIf="country.invalid && country.touched" class="alert alert-danger" role="alert">
														Nazwa kraju musi składać się z przynajmniej 4 liter.
													</div>
												</div>
											</div>
										</div>

										<!-- Text input-->

										<div class="form-group col-md-12"
											 [class.has-error]="phoneNumber.invalid && phoneNumber.touched">
											<label class="col-md-10 control-label" >Numer telefonu</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.phoneNumber"
														   placeholder="123456789"
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.phoneNumber"
														   #phoneNumber="ngModel"
														   pattern="\d{9}"
														   maxlength="9"
														   title="Twój numer telefonu"
													>
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="phoneNumber.invalid && phoneNumber.touched"
														 class="alert alert-danger" role="alert">
														Numer telefonu musi składać się z 9 cyfr.
													</div>
												</div>
											</div>
										</div>

										<!-- Date input-->

										<div class="form-group col-md-12">
											<label class="col-md-10 control-label">Data urodzenia</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group" title="Data urodzenia">
													<my-date-picker name="mydate" [options]="myDatePickerOptions"
																	[(ngModel)]="birthDateInput" (dateChanged)="onDateChanged($event)" [selDate]="selectedDateNormal"
																	[defaultMonth]="defaultYearAndMonth" locale="pl" placeholder="rrrr-mm-dd">
													</my-date-picker>
												</div>
											</div>
										</div>

										<!-- radio checks -->
										<div class="form-group col-md-12">
											<label class="col-md-10 control-label">Płeć</label>
											<div class="col-md-12" title="Wybierz swoją płeć">
												<div class="radio col-md-2">
													<label> <input type="radio" name="options" ng-control="options" [value]='1' [(ngModel)]="gender">
														Mężczyzna
													</label>
												</div>
												<div class="radio col-md-2">
													<label> <input type="radio" name="options" ng-control="options" [value]='2' [(ngModel)]="gender"/>
														Kobieta
													</label>
												</div>
											</div>
										</div>
									</tab>
									<tab title="Informacje dodatkowe">

										<!--	<div style="width: 300px; margin-bottom: 20px;"> -->
										<!-- Preferred Cuisines -->
										<div class="form-group col-md-12">
											<!-- <h3>Wybierz preferowane kuchnie</h3>-->
											<label class="col-md-10 control-label">Wybierz preferowane kuchnie</label>
											<div class="col-md-12 inputGroupContainer">
												<ng-select #SelectId2 (selected)="value"
														   #SelectId (data)="value"
														   [multiple]="true"
														   [items]="cuisinesItems"
														   [active]="preferredCuisinesItems"
														   [disabled]="disabled"
														   (data)="refreshValue($event)"
														   (selected)="selected($event)"
														   (removed)="removed($event)"
														   placeholder="Nie wybrano preferowanych kuchni"
														   title="Wybierz ulubione kuchnie"></ng-select>
												<!--  <pre>{{itemsToString(value)}}</pre>-->
											</div>
										</div>

										<!-- Text input-->

										<div class="form-group col-md-12"
											 [class.has-error]="interests.invalid && interests.touched">
											<label class="col-md-10 control-label" >Zainteresowania</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.interests"
														   placeholder="Wędkarstwo, ..."
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.interests"
														   #interests="ngModel"
														   pattern="...+"
														   maxlength="200"
														   title="Twoje zainteresowania"
													>
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="interests.invalid && interests.touched"
														 class="alert alert-danger" role="alert">
														Zainteresowania muszą składać się przynajmniej z 3 liter.
													</div>
												</div>
											</div>
										</div>

										<div class="form-group col-md-12"
											 [class.has-error]="description.invalid && description.touched">
											<label class="col-md-10 control-label" >Opis</label>
											<div class="col-md-12 inputGroupContainer">
												<div class="input-group">
													<input name="userProfile.description"
														   placeholder="Coś o mnie..."
														   class="form-control"
														   type="text"
														   [(ngModel)]="userProfile.description"
														   #description="ngModel"
														   pattern="...+"
														   maxlength="200"
														   title="Napisz coś o sobie"
													>
													<!--jeśli wystapił błąd to wyswietlamy ten alert bootstrap-->
													<div *ngIf="description.invalid && description.touched"
														 class="alert alert-danger" role="alert">
														Opis musi składać się przynajmniej z 5 liter.
													</div>
												</div>
											</div>
										</div>
									</tab>

								</tabset>
								<!--col-md-12 close-->
								<!-- Button -->
								<div class="form-group col-md-10">
									<div class="col-md-12">
										<button type="submit" class="btn btn-warning submit-button"  [disabled]="!form.valid" [title]="!form.valid ? 'Niepoprawne dane' : 'Zapisz'" (click)="updateProfile()">Zapisz</button>
										<button type="submit" class="btn btn-warning submit-button" (click)="restoreProfile()">Anuluj</button>

									</div>
								</div>

							</form>
						</div>
						<!--row close-->
					</div>
				</tab>
				<tab title="Moje eventy">
					<profile-events></profile-events>
				</tab>
			</tabset> <!--tab-pane close-->
			<!--container close -->
		</div>

		<!--<div *ngIf=isDataAvailable> close-->
	</div>

	<div *ngIf=!isDataAvailable style="margin-left: 400px">
		Loading...
	</div>


	<!-- Modal -->
	<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog-changePassword">
			<div class="modal-content-changePassword">
				<!--<div class="modal-body">-->
				<change-password [id]="userProfile.userAccountDTO.id">Wczytuję..</change-password>
				<!--</div>-->
			</div>
		</div>
	</div>
	<!-- Modal end -->
</section>
<!--section close-->