<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Twoje wydarzenia</h1>
                <div *ngIf="userEvents.length > 0">
                    <div *ngFor="let event of userEvents" >
                        <user-created-events [event]="event"></user-created-events>
                        <!--[a child comp property]="parent variable"-->
                    </div>
                </div>
                <div  *ngIf="!userEvents.length > 0" >
                    <div class="well text-center">
                        <h3>Nie masz żadnych wydarzeń</h3>
                    </div>
                </div>
                <hr/>
                <h1>Wydarzenia w których bierzesz udział</h1>
                    <user-participate-events [events]="userParticipatedEvents"></user-participate-events>
            </div>
        </div>
    </div>
</div>

