<div class="well">
    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <h2>{{event.title}}</h2>
            <table class="table">
                <tbody>
                <tr>
                    <td class="text-right">Nazwa posiłku: </td>
                    <td>{{event.dish_name}}</td>
                </tr>
                <tr>
                    <td class="text-right">Data rozpoczęcia: </td>
                    <td>{{event.date | date}}</td>
                </tr>
                <tr>
                    <td class="text-right">Rodzaj: </td>
                    <td>{{event.dish_kind}}</td>
                </tr>
                <tr>
                    <td class="text-right">Ilość uczestników: </td>
                    <td>{{event.people_quantity}}</td>
                </tr>
                <tr>
                    <td class="text-right">Wolnych miejsc: </td>
                    <td>{{event.people_remaining}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <h2>Uczestnicy</h2>
            <h3 *ngIf="!(event.participantsDetails.length > 0)">Brak chętnych</h3>
            <div class="table-responsive" *ngIf="event.participantsDetails.length > 0">
                <table class="table">
                    <thead >
                        <th class="text-center">Użytkownik</th>
                        <th class="text-center">Nick</th>
                        <th class="text-center">Uzupełniony</th>
                        <th class="text-center">Zweryfikowany</th>
                        <th class="text-center">Zobacz profil</th>
                        <th class="text-center">Akceptuj</th>
                        <th class="text-center">Odrzuć</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of event.participantsDetails" class="text-center"
                            [class.success]="checkIfUserIsOnAAcceptedList(user.id)">
                            <td>{{user.username}}</td>
                            <td>{{user.nick}}</td>
                            <td>
                                <i class="fa fa-check" aria-hidden="true" *ngIf="event.isFilled"></i>
                                <i class="fa fa-times" aria-hidden="true" *ngIf="!event.isFilled"></i>
                            </td>
                            <td>
                                <i class="fa fa-check" aria-hidden="true" *ngIf="event.isVerified"></i>
                                <i class="fa fa-times" aria-hidden="true" *ngIf="!event.isVerified"></i>
                            </td>
                            <td >
                                <i (click)="goToProfile(user.username)" class="fa fa-arrow-right" aria-hidden="true"></i>
                            </td>
                            <td><i class="fa fa-plus"
                                   aria-hidden="true"
                                   (click)="acceptUser(user.id)"
                                   *ngIf="!checkIfUserIsOnAAcceptedList(user.id)"></i>
                                <i class="fa fa-check"
                                   aria-hidden="true"
                                   *ngIf="checkIfUserIsOnAAcceptedList(user.id)"></i></td>
                            <td >
                                <i (click)="rejectTheRequest(user)" class="fa fa-times" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>