
<div id="mySidenav">
	<nav class="main-menu">
		<ul>
			<li><a [routerLink]="['/']"> <i class="fa fa-home fa-2x fa-sidebar"></i>
					<span class="nav-text"> Strona główna </span>
			</a></li>
			<li *ngIf="loginService.isLogged()" class="has-subnav"><a [routerLink]="['/profile/myprofile']"> <i
					class="fa fa-user fa-2x fa-sidebar"></i> <span class="nav-text">
						Twój profil </span>
			</a></li>
			<li *ngIf="loginService.isLogged()" class="has-subnav"><a [routerLink]="['messagebox']"> <i
					class="fa fa-envelope fa-2x fa-sidebar"></i> <span class="nav-text">
						Wiadomości </span>
			</a></li>
			<li *ngIf="loginService.isLogged()" class="has-subnav"><a [routerLink]="['/calendar']"> <i
					class="fa fa-calendar fa-2x fa-sidebar"></i> <span class="nav-text">
						Kalendarz </span>
			</a></li>
			<li *ngIf="loginService.isLogged()" class="has-subnav"><a [routerLink]="['/events']"> <i
					class="fa fa-cutlery fa-2x fa-sidebar"></i> <span class="nav-text">
						Wydarzenia </span>
			</a></li>
			<li *ngIf="loginService.isLogged()" class="has-subnav"><a [routerLink]="['/user']"> <i
					class="fa fa-list fa-2x fa-sidebar"></i> <span class="nav-text"> User
						Test </span>
			</a></li>
			<li *ngIf="sharedService.getIsAdmin();" class="has-subnav"><a [routerLink]="['/admin']">
                                <i class="fa fa-user-secret fa-2x fa-sidebar"></i> <span class="nav-text">Panel Admina </span></a>
                       </li>
		</ul>
		<ul class="logout">
        <li *ngIf="!loginService.isLogged()">
          <a [routerLink]="['/login']">
            <i class="fa fa-sign-in fa-2x fa-sidebar"></i>
            <span class="nav-text">
                            Zaloguj
                        </span>
          </a>
        </li>
				<li *ngIf="!loginService.isLogged()">
          <a [routerLink]="['/registration']">
            <i class="fa fa-user-plus fa-2x fa-sidebar"></i>
            <span class="nav-text">
                            Zarejestruj
                        </span>
          </a>
        </li>
        <li *ngIf="loginService.isLogged()">
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-power-off fa-2x fa-sidebar"></i>
            <span class="nav-text">
                            Wyloguj
                        </span>
          </a>
        </li>
      </ul>
	</nav>
</div>

