<div class="form-style-10">
<h1>Zmiana hasła<span>Aby zmienić swoje hasło wypełnij poniższy formularz</span></h1>
<form>
    <div class="section"><span>1</span>First Name &amp; Address</div>
    <div class="inner-wrap">
        <label>Aktualne hasło <input type="password" [(ngModel)]="userProfileChangePasswordDTO.oldPassword" name="userProfileChangePasswordDTO.oldPassword" /></label>
    </div>

    <div class="section"><span>2</span>Passwords</div>
        <div class="inner-wrap">
        <label>Nowe hasło <input 
            type="password" 
            [(ngModel)]="userProfileChangePasswordDTO.newPassword" 
            name="userProfileChangePasswordDTO.newPassword" />
        </label>
        <label>Potwierdź nowe hasło<input type="password" name="field3" /></label>
    </div>
    <div class="button-section">
     <input type="submit" name="Zmień hasło" />
    </div>
</form>
</div>