.new-message #nick {
    width: 200px;
}

.new-message #title {
    width: 400px;
}

.new-message #message-contents {
    width: 90%;
}

.new-message .alert-danger {
    width: 200px;
}

.new-message .alert-success {
    width: 200px;
}

.new-message h3 {
    text-align: left;
}

.nav-tabs-message .dropdown-toggle {
    width: 130px;
    background: lightblue;
}

/* Messagebox */
.message-details table {
    width: 100%;
}

.message-details hr {
    color: #8c8c8c;
    background-color: #8c8c8c;
    height: 1px;
    width: 100%;
}

.message-details .message-checkbox {
    width: 50px;
}

.message-details .message-nick {
    width: 150px;
}

.message-details .message-title {
    font-family: Arial;
    width: 400px;
}

.message-details .message-date {
    width: 200px;
}

.message-details .message-checkbox, .message-details .message-nick, .message-details .message-title, .message-details .message-date {
    font-weight: normal;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 30%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 1200px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }

    .message-details .table-message {
        width: auto;
    }

}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }

    /*.message-details .table-message {*/
    /*width: auto;*/
    /*}*/
    /*message-details .message-checkbox {*/
    /*width: 5px;*/
    /*}*/
    /*.message-details .message-nick {*/
    /*width: 1px;*/
    /*}*/
    /*.message-details .message-title {*/
    /*font-family: Arial;*/
    /*width: 100px;*/
    /*}*/
    /*.message-details .message-date {*/
    /*width: 100px;*/
    /*}*/
}

@media screen and (max-width: 1200px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}




