.new-message #nick {
    width: 200px;
}

.new-message #title {
    width: 400px;
}

.new-message #message-contents {
    width: 90%;
}

.new-message .alert-danger {
    width: 200px;
}

.new-message .alert-success {
    width: 200px;
}

.new-message h3 {
    text-align: left;
}

.nav-tabs-message .dropdown-toggle {
    width: 130px;
    background: lightblue;
}

/* Messagebox */
.message-details table {
    width: 100%;
}

.message-details hr {
    color: #8c8c8c;
    background-color: #8c8c8c;
    height: 1px;
    width: 100%;
}

.message-details .message-checkbox {
    width: 50px;
}

.message-details .message-nick {
    width: 150px;
}

.message-details .message-title {
    font-family: Arial;
    width: 400px;
}

.message-details .message-date {
    width: 200px;
}

.message-details .message-checkbox, .message-details .message-nick, .message-details .message-title, .message-details .message-date {
    font-weight: normal;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
   /* height: 30%;*/
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 1200px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }

    .message-details .table-message {
        width: auto;
    }

}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }

    /*.message-details .table-message {*/
    /*width: auto;*/
    /*}*/
    /*message-details .message-checkbox {*/
    /*width: 5px;*/
    /*}*/
    /*.message-details .message-nick {*/
    /*width: 1px;*/
    /*}*/
    /*.message-details .message-title {*/
    /*font-family: Arial;*/
    /*width: 100px;*/
    /*}*/
    /*.message-details .message-date {*/
    /*width: 100px;*/
    /*}*/
}

@media screen and (max-width: 1200px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

#message-contents {
    white-space:pre-wrap;
}

.container-fluid .message-menu .btn-default{
    margin-bottom: 3%;
    margin-right: 10px;
}

.container-fluid .message-menu {
    text-align: left;
    margin-bottom: 2%;
}

.has-subnav .badge {
    padding: 1px 5px 2px;
    font-size: 12.025px;
    font-weight: bold;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    position:relative;
    top: -5px;
    left: -15px;
}
.has-subnav .badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.has-subnav .badge-error {
    background-color: red;
}
.has-subnav .badge-error:hover {
    background-color: #953b39;
}

.notification-details .notification-checkbox {
    float: left;
    margin-right: 10px;
}
.notification-details .notification-body{
    float: inherit;
}


.support-main{
    width: 90%;
    margin: 0 auto;

}
.support-main #title {
    width: 400px;

}

.support-main #message-contents {
    width: 90%;
}
