<div class="well-kitchen">
    <div class="message-details-content">
        <h2>Szczegóły wiadomości</h2>
        <br>
        <p> Od: {{message.nickSender}} </p>
        <p> Wysłana:  {{message.dateOfSend | date | polishDate}}
            {{message.dateOfSend | date:'HH:mm:ss'}}</p>
        <hr>
        {{message.title}}
        <hr>
        <div id="message-contents">{{message.messageContents}}</div>
    </div>
    <br>
    <br>
    <a class="btn btn-kitchen-default" data-toggle="modal" data-target="#new-message"> Odpowiedz
    </a>
</div>
<!-- Modal -->
<div id="new-message" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <sending-message [recipient_nick]="message.sender.nick"></sending-message>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-kitchen-default" data-dismiss="modal">Powrót</button>
            </div>
        </div>

    </div>
</div>